.css-18e3th9.egzxvld2{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0px;
}
.css-1qaq3qt{
    padding-top: 0px;
}
.css-demzbm.e88czh83{
    background-color: grey;
}

.css-10y5sf6{
    color: rgb(32, 150, 162)
}


.css-fg4pbf {
    color: rgb(48, 56, 98);
  }
.st-d3{
    background-color: rgb(8, 8, 8);
    border-color: black;
  }
.st-dn {
    background-color: rgb(8, 8, 8);
    border-color: black;

  }
.st-da {
    background-color: rgb(124, 120, 120);
  }
.css-1prua9e.edgvbvh9{
    background-color: rgb(216, 216, 226);
}
.css-1prua9e.edgvbvh9:hover{
    background-color: rgb(235, 235, 241);
}
