.css-18e3th9.egzxvld2{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0px;
}
.css-1qaq3qt{
    padding-top: 0px;
}
.css-demzbm.e88czh83{
    background-color: grey;
}

.css-10y5sf6{
    color: rgb(32, 150, 162)
}


.css-fg4pbf {
    color: rgb(48, 56, 98);
  }
.st-d3{
    background-color: rgb(8, 8, 8);
    border-color: black;
  }
.st-dn {
    background-color: rgb(8, 8, 8);
    border-color: black;

  }
.st-da {
    background-color: rgb(124, 120, 120);
  }
.css-1prua9e.edgvbvh9{
    background-color: rgb(216, 216, 226);
}
.css-1prua9e.edgvbvh9:hover{
    background-color: rgb(235, 235, 241);
}
.css-1djdyxw.ek41t0m0{
    font-size: 20px
}
.css-81oif8.effi0qh3{
    font-size: 18px

}
.css-6kekos{
    background-color: #cbcaca;
    float: right;
}
.css-hxt7ib {
    padding-top: 0.5rem;
}
 .css-18ipw5t {
    gap: 0.25rem;
  } 
 .css-k1vhr4 {
    overflow: hidden;
  }
.st-dn {
    background-color: rgb(229, 226, 226);
    border-color: black;
  }
.css-1c12fus {
    gap: 0.25rem;
}

.css-hxt7ib {
    padding-top: 0.25rem;
  }
  .css-1xbuuuf {
    gap: 0.1rem;
  }
  .css-81oif8 {
    margin-bottom: 0rem;
  }
  .st-da {
    background-color:inherit;
  }
.st-dn {
    background-color: rgb(9, 4, 4);
  }
.st-d3{
    background-color: white;
  }
.css-163ttbj {
    width: 400px;
}
.css-81oif8 {
    margin-bottom: 0.1rem;
}
.css-1prua9e.edgvbvh9 {
    background-color: rgb(216, 216, 226);
    margin-top: -17px;
} 
.css-81oif8 {
    margin-bottom: 0;
}
.css-81oif8 {
    margin-bottom: 0;
    margin-top: 0;
  }
